canvas {
    display: block;
    margin: 50px auto;
    box-shadow: 0 10px 4px #ccc;
    cursor: pointer;
    background-color: #fdb;
    text-align: center;
}

#playerChess {
    text-align: center;
}

#curRole {
    text-align: center;
}