body {
    margin: 0;
    padding-top: 60px;
    background-color: #dff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 15px;
}

nav a:hover {
    background-color: #def;
}

article {
    background-color: rgba(168, 255, 192, 0.6);
    border-radius: 50px;
    padding: 50px;
    margin: 30px 200px 120px;
    box-shadow: 0 10px 4px #ccc;
}

code {
    max-width: 400px;
    overflow-wrap: break-word;
}

h2 {
    text-align: center;
}

footer {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.tips {
    width: 200px;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
}