#head {
    position: fixed;
    z-index: 1;
}

#editor {
    position: fixed;
    display: flex;
    height: 100vh;
}

button {
    background-color: #3d9;
    width: 150px;
}

#input,
#output {
    width: 50vw;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
}

#input {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    font-size: 16px;
    background-color: #eee;
}