*{
    margin: 0;
    padding: 0;
}

#win{
    width: 800px;
    height: 600px;
    background: url("/plane/resource/img/background.png");
    margin: 0px auto;
    position: relative;
}

#score {
    color: white;
    text-align: center;
}

#hp {
    width: 100px;
    height: 10px;
    background-color: greenyellow;
 }